<!DOCTYPE html>
<html>
<head>
<meta charset=
>
<title> Movies__rcommendation </title>
</head>
<body>
    <h1 style="margin-left: 46%; font-size:1.5cm;"> <marquee behavior="slide" direction="left">Hello </marquee>  </h1>
    <h1 style="margin-left: 25%; font-size:1cm;"> <marquee behavior="slide" direction="left">Welcome to Movies recommendation chanel</marquee>  </h1>
    <h1 style="margin-left: 20%;">This page is basicly Recommend movies related to which movie you enter</h1>
    <h1>{{n}}</h1>

</body>
</html>
